@import "colors";
@import "mixins";

.cf-button {
    height: 2.5rem;
    font-size: 0.813rem;
    line-height: normal;
    vertical-align: middle;
    outline: none;
    padding: 0 1.875rem;
    border: 1px solid cf-color($gray, 55);
    border-radius: 0;
    background-color: cf-color($gray, 20);
    color: $black;
    cursor: pointer;

    @include transition(color);
    @include transition(background-color);

    &:hover {
        background-color: cf-color($gray, 55);
    }

    &:active {
        background-color: $gray;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem $focus-shadow;
    }

    &--alt {
        color: cf-color($gray, 145);
        background: $white;
        border-color: cf-color($gray, 55);

        &:hover, &.cf-button--loading {
            color: cf-color($gray, 145);
            background-color: cf-color($gray, 10);
        }

        &:active {
            color: cf-color($gray, 145);
            background-color: cf-color($gray, 20);
        }
    }

    &--alt-disabled {
        color: cf-color($gray, 55);
        background: $white;
        border-color: cf-color($gray, 20);

        &:hover, &:active {
            color: cf-color($gray, 55);
            background: $white;
            border-color: cf-color($gray, 20);
        }
    }

    &--cancel {
        color: $gray;
        background: $white;
        border: 0;

        &:hover, &.cf-button--loading {
            color: cf-color($gray, 145);
            background-color: cf-color($gray, 10);
        }

        &:active {
            color: $gray;
            background-color: cf-color($gray, 10);
        }
    }

    &--cancel-alt {
        color: cf-color($gray, 145);
        background: cf-color($gray, 10);
        border: 0;

        &:hover, &.cf-button--loading {
            color: cf-color($gray, 145);
            background-color: #fff;
        }

        &:active {
            color: $gray;
            background-color: #fff;
        }
    }

    &--submit {
        color: $white;
        background-color: $green;
        border-color: cf-color($green, 120);

        &:hover, &.cf-button--loading {
            background-color: cf-color($green, 120);
        }

        &:active {
            background-color: cf-color($green, 120);
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem $focus-alt-shadow;
        }
    }

    &--submit-alt {
        color: $white;
        background-color: $blue;
        border-color: cf-color($blue, 120);

        &:hover, &.cf-button--loading {
            background-color: cf-color($blue, 120);
        }

        &:active {
            background-color: cf-color($blue, 120);
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem $focus-submit-shadow;
        }
    }

    &--icon {
        position: relative;
        white-space: nowrap;

        &.cf-button--loading {
            background-color: cf-color($gray, 10);
        }

        &.cf-button--small {
            i.cf-icon::before {
                position: relative;
                bottom: 0.182em;
            }
        }

        i.cf-icon {
            font-size: inherit;
            padding: 0 0.250rem;
            float: none;
            min-width: auto;
            min-height: auto;
            margin: 0;
            vertical-align: inherit;
        }

        &:not(.cf-button--disabled, .cf-button--inactive) {
            i.cf-icon {
                &:hover:not(.cf-icon--excel,
                .cf-icon-checkmark,
                .cf-icon-success,
                .cf-icon-information,
                .cf-icon-excel,
                .cf-icon-word,
                .cf-icon-exclamation,
                .cf-icon-error,
                .cf-icon-decline,
                .cf-icon-pause,
                .cf-icon-warning,
                .cf-icon-is-favorite,
                .cf-icon-pdf) {
                    color: cf-color($gray, 145);
                }
            }
        }
    }

    &--transparent {
        color: cf-color($gray, 55);
        background: transparent;
        border: 0;
        font-size: 1rem;
        height: 1.500rem;
        padding: 0;
        width: 1.500rem;

        &:hover {
            &:not(.cf-button--disabled) {
                color: $gray;
                background-color: transparent;
            }
        }

        &:active {
            color: $gray;
            background-color: transparent;
        }
    }

    &--outlined {
        color: cf-color($gray, 55);
        height: 1.875rem;
        width: 1.875rem;
        background: $white;
        padding: 0;

        &.cf-button--disabled {
            background-color: cf-color($gray, 10);
            & > i.cf-icon {
                color: cf-color($gray, 55);
            }
        }

        &:hover {
            color: $gray;
            background-color: cf-color($gray, 10);

            &.cf-button--disabled {
                color: $gray;
                background-color: cf-color($gray, 10);
            }

            &.cf-button--inactive {
                background-color: transparent;
                cursor: not-allowed;
            }
        }

        &:active {
            color: $gray;
            background-color: $white;
        }
    }

    &--disabled, &--disabled:hover, &--disabled:active, &--disabled:focus {
        color: $white;
        background: $gray;
        border-color: cf-color($gray, 55);
        cursor: not-allowed;
    }

    &--small {
        height: 1.125rem;
        padding: 0 1.25rem;
        font-size: 0.688rem;
    }

    &--medium {
        height: 1.875rem;
        padding: 0 1.25rem;
        font-size: 0.813rem;
    }

    &--elastic {
        width: 100%;
    }

    &--text {
        font-size: 0.813rem;
        background: none;
        border: none;
        cursor: pointer;
        color: $blue;
        height: auto;
        margin: 0;
        padding: 0;
        text-decoration: underline;

        &:hover {
            background: none;
            color: cf-color($blue, 120);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem $focus-border;
        }

        &.cf-button--disabled, &[disabled] {
            color: cf-color($gray, 55);
        }

        &.iconButton {
            padding: 0;

            &.small {
                padding: 0;
            }

            i.cf-icon {
                //color: currentColor;
                font-size: inherit;
                padding: 0;
                float: none;
                min-width: auto;
                min-height: auto;
                margin: 0;
            }

            .cf-icon {
                vertical-align: inherit;
            }
        }
    }

    &--loading {
        &.cf-button {
            position: relative;
            cursor: not-allowed;
        }

        &::before {
            content: '';
            width: 14px;
            height: 14px;
            animation: rotate 0.8s infinite linear;
            border: 2px solid #6da7e3;
            border-right-color: transparent;
            border-radius: 50%;
            display: inline-block;
            vertical-align: -5px;
            position: relative;
            margin-right: 4px;
        }

        &.cf-button--medium {
            &::before {
                width: 10px;
                height: 10px;
                vertical-align: top;
            }
        }

        &.cf-button--small {
            &::before {
                border-width: 1px;
                width: 7px;
                height: 7px;
                vertical-align: -1px;
            }
        }

        &.cf-button--submit, &.cf-button--submit-alt {
            &::before {
                border-color: #fff;
                border-right-color: transparent;
            }
        }

        &.cf-button--outlined.cf-button--icon {
            &::before {
                margin-right: 0;
                margin-left: 5px;
            }
            i.cf-icon::before {
                display: none;
            }
        }
    }

    &--checked {
        background-color: cf-color($gray, 10);

        &::before {
            content: "\f113";
            color: $green;
            display: inline-block;
            font-family: "icons";
            font-size: 0.813rem;
            height: 0.875rem;
            width: 0.875rem;
            text-indent: -0.375rem;
        }
    }
}

.cf-a-button {
    display: inline-block;
    height: 2.5rem;
    font-size: 0.813rem;
    line-height: 2.5rem;
    padding: 0 1.875rem;
    border: 1px solid cf-color($gray, 55);
    border-radius: 0;
    background-color: cf-color($gray, 20);
    color: $black;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    @include transition(color);
    @include transition(background-color);

    &:hover {
        background-color: cf-color($gray, 55);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem $focus-shadow;
    }

    &--small {
        height: 1.125rem;
        line-height: 1.125rem;
        padding: 0 1.25rem;
        font-size: 0.688rem;
    }

    &--medium {
        height: 1.875rem;
        line-height: 1.875rem;
        padding: 0 1.25rem;
        font-size: 0.813rem;
    }

    &--alt {
        color: cf-color($gray, 145);
        background: $white;
        border-color: cf-color($gray, 55);

        &:hover {
            color: cf-color($gray, 145);
            background-color: cf-color($gray, 10);
        }
    }

    &--alt-disabled {
        color: cf-color($gray, 55);
        background: $white;
        border-color: cf-color($gray, 20);

        &:hover {
            color: cf-color($gray, 55);
            background: $white;
            border-color: cf-color($gray, 20);
        }
    }

    &--cancel {
        color: $gray;
        background: $white;
        border: 0;

        &:hover {
            color: cf-color($gray, 145);
            background-color: cf-color($gray, 10);
        }
    }

    &--cancel-alt {
        color: cf-color($gray, 145);
        background: cf-color($gray, 10);
        border: 0;

        &:hover {
            color: $gray;
            background-color: #fff;
        }
    }

    &--submit {
        color: $white;
        background-color: $green;
        border-color: cf-color($green, 120);

        &:hover {
            background-color: cf-color($green, 120);
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem $focus-alt-shadow;
        }
    }

    &--submit-alt {
        color: $white;
        background-color: $blue;
        border-color: cf-color($darkblue, 80);

        &:hover {
            background-color: cf-color($darkblue, 80);
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(58, 116, 176, 0.5);
        }
    }

    &--disabled, &--disabled:hover {
        color: $white;
        background: $gray;
        border-color: cf-color($gray, 55);
        cursor: not-allowed;
    }

    &--gray {
        background: cf-color($gray, 10);
        border-color: cf-color($gray, 55);
        color: $gray;

        &:hover, &.cf-a-button--active {
            background: $white;
            color: cf-color($gray, 145);
        }
    }

    &--icon {
        color: cf-color($gray, 55);
        height: 1.875rem;
        width: 1.875rem;
        background: $white;
        padding: 0;
        line-height: normal;

        &:hover, &:active {
            color: $gray;
            background-color: cf-color($gray, 10);
        }
    }
}
