@import "colors";

// CREATE COLOR UTILITY CLASSES FOR BACKGROUND AND COLOR
$colors: "blue" $blue, "darkblue" $darkblue, "green" $green, "yellow" $yellow, "red" $red, "orange" $orange, "purple" $purple;
$stops: 120, 100, 80, 60, 40;
$graystops: 145, 100, 55, 20, 10;

@each $color in $colors {
  @each $stop in $stops {
    @if $stop == 100 { //don't append hyphen and stop to class name if 100
      //color class 
      .cf-#{nth($color, 1)} {
        color: cf-color(nth($color, 2), nth($stop, 1)) !important;
      }
      //background class
      .cf-bg-#{nth($color, 1)} {
        background-color: cf-color(nth($color, 2), nth($stop, 1)) !important;
      }
      //border class
      .cf-border-#{nth($color, 1)} {
        border-color: cf-color(nth($color, 2), nth($stop, 1)) !important;
      }
    } @else {
      //color class
      .cf-#{nth($color, 1)}-#{nth($stop, 1)} {
        color: cf-color(nth($color, 2), nth($stop, 1)) !important;
      }
      //background class
      .cf-bg-#{nth($color, 1)}-#{nth($stop, 1)} {
        background-color: cf-color(nth($color, 2), nth($stop, 1)) !important;
      }
      //border class
      .cf-border-#{nth($color, 1)}-#{nth($stop, 1)} {
        border-color: cf-color(nth($color, 2), nth($stop, 1)) !important;
      }
    }
  }
}
//Use different stops for Gray
@each $graystop in $graystops {
  @if $graystop == 100 { //don't append hyphen and stop to class name if 100
    //color class 
    .cf-gray {
      color: cf-color($gray, nth($graystop, 1)) !important;
    }
    //background class
    .cf-bg-gray {
      background-color: cf-color($gray, nth($graystop, 1)) !important;
    }
    //border class
    .cf-border-gray {
      border-color: cf-color($gray, nth($graystop, 1)) !important;
    }
  } @else {
    //color class
    .cf-gray-#{nth($graystop, 1)} {
      color: cf-color($gray, nth($graystop, 1)) !important;
    }
    //background class
    .cf-bg-gray-#{nth($graystop, 1)} {
      background-color: cf-color($gray, nth($graystop, 1)) !important;
    }
    //border class
    .cf-border-gray-#{nth($graystop, 1)} {
      border-color: cf-color($gray, nth($graystop, 1)) !important;
    }
  }
}
//black
.cf-black {
  color: cf-color($black, 100) !important;
}
.cf-bg-black {
  background-color: cf-color($black, 100) !important;
}
//white
.cf-white {
  color: cf-color($white, 100) !important;
}
.cf-bg-white {
  background-color: cf-color($white, 100) !important;
}
