@import "colors";
@import "mixins";

.cf-filter-chip {
    display: inline-block;
    color: $black;
    background-color: $white;
    font-size: 13px;
    height: 1.250rem;
    line-height: 1.538em;
    margin: 0 0 0.308em 0.308em;
    padding: 0 0.385em;
    text-decoration: none;
    font-weight: 700;
    .cf-filter-chip__remove {
        cursor: pointer;
        margin: 0 0.125rem;
        text-decoration: none;
        .cf-icon {
            font-size: 8px;
            margin: 0 0 1px 0;
            padding: 0;
            float: none;
            min-width: auto;
            min-height: auto;
        }
    }
    &s {
        .cf-button--text {
            margin-left: 0.313rem;
        }
    }
}
