@import "colors";
@import "mixins";

.cf-filter {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        display: inline-block;
        list-style-type: none;
        white-space: nowrap;
        &:first-of-type .cf-filter__button {
            margin-left: 0;
        }
    }

    &__button {
        height: 2.5rem;
        font-size: 0.813rem;
        line-height: normal;
        outline: none;
        padding: 0 1.875rem;
        cursor: pointer;
        margin: 0 0 0 -1px;
        color: cf-color($gray, 55);
        background-color: cf-color($white, 100);
        border: 1px solid cf-color($gray, 55);
        border-radius: 0;
        @include transition();

        &:hover, &:active {
            color: $gray;
            background-color: cf-color($gray, 20);
        }

        &:focus {
            outline-width: 2px;
            outline-style: solid;
            outline-color: Highlight;
            position: relative;
            z-index: 1;
        }

        &--active, &--active:hover {
            position: relative;
            background-color: cf-color($gray, 20);      
            border-color: cf-color($gray, 55);
            color: $black;
        }

        &--disabled[disabled] {
            color: cf-color($gray, 55);
            cursor: not-allowed;
            &:hover {
                color: cf-color($gray, 55);
                background-color: cf-color($white, 100);
                border: 1px solid cf-color($gray, 55);
            }
        }
    }
    &--medium {
        .cf-filter__button {
            height: 1.875rem;
            padding: 0 1.667em;
            font-size: 0.750rem;
        }
    }
    &--gray {
        .cf-filter__button {
            background-color: cf-color($gray, 10);
            border-color: cf-color($gray, 55);;
            &:hover, &:active {
                color: $gray;
                background-color: $white;
            }

            &--active, &--active:hover {
                background-color: $white;     
                color: $black;
            }
            &--disabled[disabled] {
                color: cf-color($gray, 55);
                cursor: not-allowed;
                &:hover {
                    color: cf-color($gray, 55);
                    background-color: cf-color($gray, 10);
                    border: 1px solid cf-color($gray, 55);
                }
            }
        }
    }
}
