@import "colors";

.cf-navigation {
    &--buttons {
        position: relative;
        .cf-a-button {
            margin-right: -1px;
        }
        .cf-navigation--rule {
            border: 0;
            border-bottom: 1px solid cf-color($gray, 20);
            margin: 0;
            position: relative;
            top: 35px;
            z-index: -1;
        }
    }
}