@import "colors";
@import "mixins";

.cf-progress-tracker {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 1.875rem;
    justify-content: center;
    align-items: center;

    &--gray, &--gray:hover {
        .cf-progress-tracker__arrow:first-child {
            &::after {
                border-color: transparent transparent transparent cf-color($gray, 10);
            }
        }
    }

    &__step {
        box-sizing: border-box;
        background-color: $white;
        border: 1px solid cf-color($gray, 20);
        border-left: 0;
        border-right: 0;
        color: cf-color($gray, 55);
        font-size: 0.750rem;
        font-weight: 700;
        flex: 1 1 auto;
        height: 1.875rem;
        line-height: 1.750rem;
        margin-right: 0.688rem;
        position: relative;
        text-align: center;
        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem $focus-input;
        }

        &-no {
            display: inline-block;
            height: 16px;
            width: 16px;
            line-height: 16px;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            background: cf-color($gray, 55);
            color: $white;
            font-size: 12px;
            position: relative;
            top: -1px;
            left: -2px;
        }

        & > .cf-icon {
            position: relative;
            top: -1px;
            padding-right: 2px;
        }

        .cf-progress-tracker__arrow {
            position: absolute;
            left: 0;

            &::after, &::before {
                content: '';
                display: block;
                position: absolute;
                left: 100%;
                width: 0;
                height: 0;
                border-style: solid;
            }

            &::after {
                top: 1px;
                border-width: 13px 10px;
                border-color: transparent transparent transparent $white;
            }

            &::before {
                top: -1px;
                border-width: 15px 11px;
                border-color: transparent transparent transparent cf-color($gray, 20);
            }

            &:last-child {
                position: absolute;
                right: 0;

                &::after {
                    border-width: 13px 10px;
                    border-color: transparent transparent transparent $white;
                }

                &::before {
                    border-width: 15px 11px;
                    border-color: transparent transparent transparent cf-color($gray, 20);
                }
            }
        }

        &:hover {
            cursor: pointer;
            border-color: cf-color($gray, 55);
            color: $gray;
            background-color: cf-color($gray, 10);

            .cf-progress-tracker__step-no {
                background-color: $gray;
            }

            .cf-progress-tracker__arrow {
                &::after {
                    border-color: transparent transparent transparent $white;
                }

                &::before {
                    border-color: transparent transparent transparent cf-color($gray, 55);
                }

                &:last-child {
                    &::after {
                        border-width: 13px 10px;
                        border-color: transparent transparent transparent cf-color($gray, 10);
                    }

                    &::before {
                        border-width: 15px 11px;
                        border-color: transparent transparent transparent cf-color($gray, 55);
                    }
                }
            }
        }

        &:focus {
            overflow: hidden;
        }

        &:first-child {
            border-left: 1px solid cf-color($gray, 20);

            .cf-progress-tracker__arrow:first-child {
                display: none;
            }
        }

        &:last-child {
            border-right: 1px solid cf-color($gray, 20);
            margin-right: 0;

            .cf-progress-tracker__arrow:last-child {
                display: none;
            }

            &:hover {
                border-color: cf-color($gray, 55);
            }
        }

        &--active, &--active:hover {
            border-color: cf-color($gray, 55);
            color: $black;
            background-color: $white;
            cursor: auto;

            .cf-progress-tracker__step-no {
                background-color: $gray;
            }

            .cf-progress-tracker__arrow {
                &::after {
                    border-color: transparent transparent transparent $white;
                }

                &::before {
                    border-color: transparent transparent transparent cf-color($gray, 55);
                }

                &:last-child {
                    &::after {
                        border-width: 13px 10px;
                        border-color: transparent transparent transparent $white;
                    }

                    &::before {
                        border-width: 15px 11px;
                        border-color: transparent transparent transparent cf-color($gray, 55);
                    }
                }
            }

            &:last-child {
                border-color: cf-color($gray, 55);
            }

            &:focus {
                position: relative;
                z-index: 1;
            }
        }

        &--completed {
            .cf-icon-success {
                color: $green;
            }

            &:hover {
                background-color: cf-color($gray, 10);
                color: $gray;
                border-color: cf-color($gray, 55);
            }
        }

        &--disabled:hover {
            cursor: auto;
            background-color: $white;
            border-color: cf-color($gray, 20);
            color: cf-color($gray, 55);

            .cf-progress-tracker__arrow, .cf-progress-tracker__arrow:last-child {
                &::after {
                    border-color: transparent transparent transparent $white;
                }

                &::before {
                    border-color: transparent transparent transparent cf-color($gray, 20);
                }
            }

            .cf-progress-tracker__step-no {
                background: cf-color($gray, 55);
                color: $white;
            }

            &:last-child {
                cursor: auto;
                background-color: $white;
                border-color: cf-color($gray, 20);
                color: cf-color($gray, 55);
            }
        }
    }
}
