@import "colors";

.cf-tabs {
    &__labels {
        display: flex;
        list-style: none;
        border-bottom: 1px solid cf-color($gray, 55);
        margin: 0;
        padding: 0 0.500rem;
        align-items: flex-end;
        height: 2.438rem;
    }

    &__label {
        position: relative;
        align-items: center;
        border: 1px solid cf-color($gray, 55);
        border-bottom: 0;
        color: cf-color($gray, 55);
        cursor: pointer;
        display: flex;
        font-size: 0.813rem;
        height: 1.875rem;
        padding: 0;
        margin: 0 0 0 -1px;
        min-width: 0;
        -webkit-transition: height 0.3s ease;
        -moz-transition: height 0.3s ease;
        -o-transition: height 0.3s ease;
        -ms-transition: height 0.3s ease;
        transition: height 0.3s ease;

        > span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            padding: 0 0.938em;
            height: 2.063rem;
            line-height: 2.063rem;

            > .cf-icon {
                padding: 0.250em 0.125em 0.438em 0;
            }
        }

        &:focus {
            z-index: 1;
            box-shadow: 0 0 0 0.2rem rgba(177,177,177, 0.5);
            outline: none;
        }

        &:hover {
            background: cf-color($gray, 20);
        }

        &:last-child {
            border-right: 1px solid cf-color($gray, 55);
        }

        &--active span::before {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            background: $white;
            position: absolute;
            bottom: -1px;
            left: 0;
        }

        &--active {
            background: $white;
            color: $black;
            height: 2.125rem;
            position: relative;
            &:hover {
                background: $white;
                color: $black;
                &.cf-tabs__label.cf-tooltip {
                    &::before {
                        bottom: 0.438rem;
                    }
                    &::after {
                        bottom: 0.938rem;
                    }
                }
            }
        }

        &.cf-tooltip {
            &:hover, &:focus {
                &::before {
                    bottom: 0.188rem;
                }

                &::after {
                    bottom: 0.688rem;
                }
            }
        }
    }

    &--gray {
        background: cf-color($gray, 10);

        .cf-tabs__label {
            &--active span::before {
                background: cf-color($gray, 10);
            }

            &--active, &--active:hover {
                background: cf-color($gray, 10);
            }
        }
    }

    &--white {
        background: $white;

        .cf-tabs__label {
            &--active span::before {
                background: $white;
            }

            &--active, &--active:hover {
                background: $white;
            }
        }
    }

    &__content {
        display: none;

        &--active {
            display: block;
        }
    }
}
