@import "colors";
@import "mixins";

.cf-toast {
    &s {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        right: 0.625rem;
        z-index: 999999;
        transition: all 300ms linear;
        max-height: 19.375rem;
        overflow: auto;
        padding-right: 0.625rem;
    }

    width: 18.750rem;
    margin-bottom: 0.625rem;
    padding-top: 0.750rem;
    padding-bottom: 0.750rem;
    background-color: $white;
    border: 1px solid cf-color($blue, 120);
    border-left-width: 0.625rem;
    position: relative;
    display: flex;
    right: 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: right linear .3s, opacity linear .3s;
    order: 3;
    flex: 1 0 auto;

    &--error {
        border-color: cf-color($red, 110);
        order: 1;
        > i.cf-icon {
            color: cf-color($red, 110);
        }
    }

    &--warning {
        border-color: cf-color($yellow, 110);
        order: 2;
        > i.cf-icon {
            color: cf-color($yellow, 110);
        }
    }

    &--info > i.cf-icon {
        color: cf-color($blue, 120);
    }

    &--success {
        border-color: cf-color($green, 110);
        order: 4;
        > i.cf-icon {
            color: cf-color($green, 110);
        }
    }

    &--slide {
        right: -18.750rem;
    }

    .cf-icon:not(.cf-icon-close) {
        padding: 0;
        flex-basis: 1.500rem;
        margin-left: 0.750rem;
    }

    &__msg {
        color: $black;
        font-size: 0.813rem;
        margin: 0;
        line-height: 1.250em;
        max-width: 15.000rem;
        padding-right: 0.750rem;

        > a {
            color: $blue;
            font-size: 0.813rem;
            text-decoration: underline;

            &:hover {
                color: cf-color($blue, 120);
                text-decoration: underline;
            }
        }
    }

    .cf-button--icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0.125rem;
        top: 0.125rem;
        width: 1.000rem;
        height: 1.000rem;

        i.cf-icon {
            opacity: 0.5;
            font-size: 0.625rem;
            font-weight: 700;
            transition: opacity linear .3s;

            &:hover {
                opacity: 1.0;
            }
        }
    }
}
