.cf-overflow {
    &-hide {
        overflow: hidden !important;
    }
    &-show {
        overflow: visible !important;
    }
}

.cf-z-100 {
    z-index: 100 !important;
}

.cf-relative {
    position: relative;
}

.cf-flex {
    display: flex;
}

.cf-flex-wrap {
    flex-wrap: wrap;
}

.cf-border-0 {
    border-width: 0 !important;
}

.cf-shrink {
    &-0 {
        flex-shrink: 0;
    }
    &-1 {
        flex-shrink: 1;
    }
}

.cf-grow {
    &-0 {
        flex-grow: 0;
    }
    &-1 {
        flex-grow: 1;
    }
}

.cf-none {
    display: none !important;
}

.cf-visually-hidden {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}