$icon-file-path: "./" !default;


@font-face {
        font-family:"icons";
        src:url($icon-file-path + "font-icons.eot?398cd4ea2169778a9190df109e60db5e");
        src:url($icon-file-path + "font-icons.eot?#iefix") format("embedded-opentype"),
            url($icon-file-path + "font-icons.woff?398cd4ea2169778a9190df109e60db5e") format("woff"),
            url($icon-file-path + "font-icons.ttf?398cd4ea2169778a9190df109e60db5e") format("truetype");
        font-weight:normal;
        font-style:normal;
    }


.cf-icon {
    font-family:"icons";
    display:inline-block;
    vertical-align:middle;
    line-height:1;
    font-weight:normal;
    font-style:normal;
    speak:none;
    text-decoration:inherit;
    text-transform:none;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}


// Icons


.cf-icon-action:before {
    content:"\f101";
}


.cf-icon-amount:before {
    content:"\f102";
}


.cf-icon-arrow-east:before {
    content:"\f103";
}


.cf-icon-arrow-north:before {
    content:"\f104";
}


.cf-icon-arrow-south:before {
    content:"\f105";
}


.cf-icon-arrow-west:before {
    content:"\f106";
}


.cf-icon-attachments:before {
    content:"\f107";
}


.cf-icon-bender:before {
    content:"\f108";
}


.cf-icon-bruce:before {
    content:"\f109";
}


.cf-icon-building:before {
    content:"\f10a";
}


.cf-icon-calendar:before {
    content:"\f10b";
}


.cf-icon-cards-view:before {
    content:"\f10c";
}


.cf-icon-caret-east:before {
    content:"\f10d";
}


.cf-icon-caret-north:before {
    content:"\f10e";
}


.cf-icon-caret-south:before {
    content:"\f10f";
}


.cf-icon-caret-west:before {
    content:"\f110";
}


.cf-icon-cf-icon:before {
    content:"\f111";
}


.cf-icon-chathamdirect-logo:before {
    content:"\f112";
}


.cf-icon-checkmark:before {
    content:"\f113";
}


.cf-icon-clock:before {
    content:"\f114";
}


.cf-icon-close:before {
    content:"\f115";
}


.cf-icon-collapsed-view:before {
    content:"\f116";
}


.cf-icon-comment:before {
    content:"\f117";
}


.cf-icon-compass:before {
    content:"\f169";
}


.cf-icon-contact-card:before {
    content:"\f118";
}


.cf-icon-copy-into:before {
    content:"\f119";
}


.cf-icon-decline:before {
    content:"\f11a";
}


.cf-icon-delta:before {
    content:"\f11b";
}


.cf-icon-detail-view:before {
    content:"\f11c";
}


.cf-icon-doc:before {
    content:"\f11d";
}


.cf-icon-docs:before {
    content:"\f11e";
}


.cf-icon-dollar-sign:before {
    content:"\f11f";
}


.cf-icon-done:before {
    content:"\f120";
}


.cf-icon-dot:before {
    content:"\f121";
}


.cf-icon-download:before {
    content:"\f122";
}


.cf-icon-edit:before {
    content:"\f123";
}


.cf-icon-error:before {
    content:"\f124";
}


.cf-icon-excel:before {
    content:"\f125";
}


.cf-icon-exclamation:before {
    content:"\f126";
}


.cf-icon-filter:before {
    content:"\f127";
}


.cf-icon-fullscreen:before {
    content:"\f128";
}


.cf-icon-generate:before {
    content:"\f129";
}


.cf-icon-graph-dotted:before {
    content:"\f12a";
}


.cf-icon-graph-solid:before {
    content:"\f12b";
}


.cf-icon-gripper:before {
    content:"\f12c";
}


.cf-icon-hamburger:before {
    content:"\f12d";
}


.cf-icon-help:before {
    content:"\f12e";
}


.cf-icon-hidden:before {
    content:"\f12f";
}


.cf-icon-home:before {
    content:"\f130";
}


.cf-icon-info:before {
    content:"\f131";
}


.cf-icon-information:before {
    content:"\f132";
}


.cf-icon-is-favorite:before {
    content:"\f133";
}


.cf-icon-link---is-linked:before {
    content:"\f134";
}


.cf-icon-link---is-unlinked:before {
    content:"\f135";
}


.cf-icon-lock:before {
    content:"\f136";
}


.cf-icon-logo:before {
    content:"\f137";
}


.cf-icon-mail:before {
    content:"\f138";
}


.cf-icon-manage:before {
    content:"\f139";
}


.cf-icon-marriage:before {
    content:"\f13a";
}


.cf-icon-max-decrease:before {
    content:"\f13b";
}


.cf-icon-max-increase:before {
    content:"\f13c";
}


.cf-icon-minus:before {
    content:"\f13d";
}


.cf-icon-more-horiz:before {
    content:"\f13e";
}


.cf-icon-more-vert:before {
    content:"\f13f";
}


.cf-icon-not-favorite:before {
    content:"\f140";
}


.cf-icon-not-pinned:before {
    content:"\f141";
}


.cf-icon-notes:before {
    content:"\f142";
}


.cf-icon-open:before {
    content:"\f143";
}


.cf-icon-overview:before {
    content:"\f144";
}


.cf-icon-pagination-first:before {
    content:"\f145";
}


.cf-icon-pagination-last:before {
    content:"\f146";
}


.cf-icon-paste:before {
    content:"\f147";
}


.cf-icon-pause:before {
    content:"\f148";
}


.cf-icon-pdf:before {
    content:"\f149";
}


.cf-icon-percent:before {
    content:"\f14a";
}


.cf-icon-phone:before {
    content:"\f14b";
}


.cf-icon-pinned:before {
    content:"\f14c";
}


.cf-icon-plus-minus:before {
    content:"\f14d";
}


.cf-icon-plus:before {
    content:"\f14e";
}


.cf-icon-pointer-east:before {
    content:"\f14f";
}


.cf-icon-pointer-north:before {
    content:"\f150";
}


.cf-icon-pointer-south:before {
    content:"\f151";
}


.cf-icon-pointer-west:before {
    content:"\f152";
}


.cf-icon-recurring:before {
    content:"\f153";
}


.cf-icon-refresh:before {
    content:"\f154";
}


.cf-icon-restore:before {
    content:"\f155";
}


.cf-icon-search:before {
    content:"\f156";
}


.cf-icon-settings:before {
    content:"\f157";
}


.cf-icon-sort:before {
    content:"\f158";
}


.cf-icon-success:before {
    content:"\f159";
}


.cf-icon-table-view:before {
    content:"\f15a";
}


.cf-icon-thumbs-down:before {
    content:"\f15b";
}


.cf-icon-thumbs-up:before {
    content:"\f15c";
}


.cf-icon-transfer:before {
    content:"\f15d";
}


.cf-icon-trashcan:before {
    content:"\f15e";
}


.cf-icon-treeview:before {
    content:"\f15f";
}


.cf-icon-tz:before {
    content:"\f160";
}


.cf-icon-undo:before {
    content:"\f161";
}


.cf-icon-unlock:before {
    content:"\f162";
}


.cf-icon-upload:before {
    content:"\f163";
}


.cf-icon-user:before {
    content:"\f164";
}


.cf-icon-view-as-graph:before {
    content:"\f165";
}


.cf-icon-visible:before {
    content:"\f166";
}


.cf-icon-warning:before {
    content:"\f167";
}


.cf-icon-word:before {
    content:"\f168";
}