 
$icon-code-action: "\f101";  
$icon-code-amount: "\f102";  
$icon-code-arrow-east: "\f103";  
$icon-code-arrow-north: "\f104";  
$icon-code-arrow-south: "\f105";  
$icon-code-arrow-west: "\f106";  
$icon-code-attachments: "\f107";  
$icon-code-bender: "\f108";  
$icon-code-bruce: "\f109";  
$icon-code-building: "\f10a";  
$icon-code-calendar: "\f10b";  
$icon-code-cards-view: "\f10c";  
$icon-code-caret-east: "\f10d";  
$icon-code-caret-north: "\f10e";  
$icon-code-caret-south: "\f10f";  
$icon-code-caret-west: "\f110";  
$icon-code-cf-icon: "\f111";  
$icon-code-chathamdirect-logo: "\f112";  
$icon-code-checkmark: "\f113";  
$icon-code-clock: "\f114";  
$icon-code-close: "\f115";  
$icon-code-collapsed-view: "\f116";  
$icon-code-comment: "\f117";  
$icon-code-compass: "\f169";  
$icon-code-contact-card: "\f118";  
$icon-code-copy-into: "\f119";  
$icon-code-decline: "\f11a";  
$icon-code-delta: "\f11b";  
$icon-code-detail-view: "\f11c";  
$icon-code-doc: "\f11d";  
$icon-code-docs: "\f11e";  
$icon-code-dollar-sign: "\f11f";  
$icon-code-done: "\f120";  
$icon-code-dot: "\f121";  
$icon-code-download: "\f122";  
$icon-code-edit: "\f123";  
$icon-code-error: "\f124";  
$icon-code-excel: "\f125";  
$icon-code-exclamation: "\f126";  
$icon-code-filter: "\f127";  
$icon-code-fullscreen: "\f128";  
$icon-code-generate: "\f129";  
$icon-code-graph-dotted: "\f12a";  
$icon-code-graph-solid: "\f12b";  
$icon-code-gripper: "\f12c";  
$icon-code-hamburger: "\f12d";  
$icon-code-help: "\f12e";  
$icon-code-hidden: "\f12f";  
$icon-code-home: "\f130";  
$icon-code-info: "\f131";  
$icon-code-information: "\f132";  
$icon-code-is-favorite: "\f133";  
$icon-code-link---is-linked: "\f134";  
$icon-code-link---is-unlinked: "\f135";  
$icon-code-lock: "\f136";  
$icon-code-logo: "\f137";  
$icon-code-mail: "\f138";  
$icon-code-manage: "\f139";  
$icon-code-marriage: "\f13a";  
$icon-code-max-decrease: "\f13b";  
$icon-code-max-increase: "\f13c";  
$icon-code-minus: "\f13d";  
$icon-code-more-horiz: "\f13e";  
$icon-code-more-vert: "\f13f";  
$icon-code-not-favorite: "\f140";  
$icon-code-not-pinned: "\f141";  
$icon-code-notes: "\f142";  
$icon-code-open: "\f143";  
$icon-code-overview: "\f144";  
$icon-code-pagination-first: "\f145";  
$icon-code-pagination-last: "\f146";  
$icon-code-paste: "\f147";  
$icon-code-pause: "\f148";  
$icon-code-pdf: "\f149";  
$icon-code-percent: "\f14a";  
$icon-code-phone: "\f14b";  
$icon-code-pinned: "\f14c";  
$icon-code-plus-minus: "\f14d";  
$icon-code-plus: "\f14e";  
$icon-code-pointer-east: "\f14f";  
$icon-code-pointer-north: "\f150";  
$icon-code-pointer-south: "\f151";  
$icon-code-pointer-west: "\f152";  
$icon-code-recurring: "\f153";  
$icon-code-refresh: "\f154";  
$icon-code-restore: "\f155";  
$icon-code-search: "\f156";  
$icon-code-settings: "\f157";  
$icon-code-sort: "\f158";  
$icon-code-success: "\f159";  
$icon-code-table-view: "\f15a";  
$icon-code-thumbs-down: "\f15b";  
$icon-code-thumbs-up: "\f15c";  
$icon-code-transfer: "\f15d";  
$icon-code-trashcan: "\f15e";  
$icon-code-treeview: "\f15f";  
$icon-code-tz: "\f160";  
$icon-code-undo: "\f161";  
$icon-code-unlock: "\f162";  
$icon-code-upload: "\f163";  
$icon-code-user: "\f164";  
$icon-code-view-as-graph: "\f165";  
$icon-code-visible: "\f166";  
$icon-code-warning: "\f167";  
$icon-code-word: "\f168"; 